## Pandas 설치 및 활용

In [1]:
import pandas as pd

### 데이터 프레임을 생성하고 일부분 살펴보기

In [4]:
# pandas의 Data Frame 생성
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
custom = [1, 5, 25, 13, 23232]

BabyDataSet = list(zip(names,births))
df = pd.DataFrame(data = BabyDataSet, columns = ['Names', 'Births'])

df.head()

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

### 데이터 프레임의 기본 정보 출력하기

In [5]:
# 데이터 프레임의 열 타입 정보 출력
df.dtypes

Names     object
Births     int64
dtype: object

In [6]:
# 데이터 프레임의 인덱스 정보 출력
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# 데이터 프레임의 열 형태 정보 출력
df.columns

Index(['Names', 'Births'], dtype='object')

### 데이터 프레임의 인덱스 선택하기

In [8]:
# 0~3번째 인덱스 선택
df[0:3]

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77

In [9]:
#Births 열이 100보다 큰 데이터를 선택
df[df['Births'] > 100]

     Names  Births
0      Bob     968
1  Jessica     155
3     John     578
4      Mel     973

In [11]:
# 데이터 프레임에서의 평균값 계산
df.mean()

Births    550.2
dtype: float64